# RENAME THIS FILE TO .env AND FILL IN THE VALUES
# HAPPY CODING!
# ================================================
# ================================================

# - APPLICATION SETTINGS
API_PREFIX=
ALLOWED_ORIGINS=
PORT=
DEBUG=
DEV_DB=
PROD_DB=